.header__links {
    width: 77px;
    height: 28px;
    display: flex;
    font-family: "Inter-Regular", "Arial", sans-serif;
    font-size: 1.1em;
    line-height: 1.1;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 425px) {
    .header__links {
        width: 62px;
        height: 20px;
    }
}