.intro__list {
    list-style-type: none;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 0.75em;
    line-height: 1.5;
    font-weight: 400;
    margin: 0 auto 0 auto;
    padding: 0;
}
