.intro__list {
    list-style-type: none;
    font-family: "Inter-Regular", "Arial", sans-serif;
    font-size: 0.8em;
    line-height: 1.2;
    font-weight: 900;
    margin: 0 auto 0 auto;
    padding: 0;
}
