.website__link {
    color: white;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 1.1em;
    line-height: 1.2;
    font-weight: 400;
}

.website__link:hover {
    opacity: 0.8;
    transition: opacity 0.3s, linear 0.3s;
}
