.intro {
    max-width: 984px;
    margin: 92px auto 0 auto;
    text-align: left;
}


.intro__title {
    font-family: "Inter-Bold", "Arial", sans-serif;
    font-size: 3.3em;
    line-height: 1;
    font-weight: 900;
    width: 94%;
    margin: 0 0 40px 0;
}

.intro__text {
    width: 94%;
    font-family: "Inter-Light", "Arial", sans-serif;
    font-size: 1em;
    line-height: 1.5;
    margin: 0 0 33px 0;
}

.intro__list {
    list-style-type: none;
    font-family: "Inter-Regular", "Arial", sans-serif;
    font-size: 0.8em;
    line-height: 1.2;
    font-weight: 900;
    margin: 0 auto 0 auto;
    padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .intro {
        max-width: 95%;
    }
    .intro__title {
        font-size: 2em;
    }
}

.photo-grid {
    max-width: 94%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 92px auto 0 auto;
}

.photo-grid__item {
    max-width: 100%;
}






.places {
    max-width: 984px;
    margin: 92px auto 0 auto;
    padding: 0;
}

.places__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 80px;
}

.place {
    display: grid;
    grid-template-columns: repeat(2, 1fr) fit-content(50%);
    grid-template-rows: repeat(2, fit-content(200px)) ;
    grid-template-areas: 
    "place__title website"
    "place__image place__paragraphs";
    row-gap: 48px;
    column-gap: 40px;
}

.place__title {
    max-width: 100%;
    font-family: "Inter-Bold", "Arial", sans-serif;
    font-size: 4.5em;
    line-height: 1;
    font-weight: 900;
    margin: 0;
    padding: 0;
    grid-area: place__title;
}

.place__image {
    width: 100%;
    margin: 0;
    grid-area: place__image;
}

.website {
    max-width: 100%;
    grid-area: website;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0;
}

.website__url-heading {
    max-width: 100%;
    font-family: "Inter-Light", "Arial", sans-serif;
    font-size: 0.8em;
    line-height: 0.8;
    font-weight: normal;
}

.website__link {
    color: white;
    font-family: "Inter-Regular", "Arial", sans-serif;
    font-size: 1.1em;
    line-height: 1.2;
}

.website__link:hover {
    text-decoration: underline;
}

.place__paragraphs {
    max-width: 100%;
    grid-area: place__paragraphs;
    display: flex;
    flex-direction: column;
    row-gap: 26px;
}

.place__paragraph {
    font-family: "Inter-light", "Arial", sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .place{
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4) ;
        grid-template-areas: 
        "place__title"
        "website"
        "place__image"
        "place__paragraphs";
        row-gap: 32px; 
        
    }
    .place__title {
        width: 94%;
        font-size: 2em;
        line-height: 1.1;
        margin: 0 auto 0 auto;
    }

    .website {
        width: 94%;
        margin: 0 auto 0 auto;
    }

    .place__paragraphs {
        width: 94%;
        margin: 0 auto 0 auto;
    }

    .place__paragraph {
        font-size: 1em;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {        
    .places {
        max-width: 94%;
    }

    .place__title {
        width: 94%;
        font-size: 2.6em;
        line-height: 1.1;
        margin: 0 auto 0 auto;
    }

    .website {
        width: 94%;
        margin: 0 auto 0 auto;
    }

    .place__paragraphs {
        width: 94%;
        margin: 0 auto 0 auto;
    }

    .place__paragraph {
        font-size: 1em;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {        
    .places {
        max-width: 94%;
    }
}




.cover {
    max-width: 94%;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: unset;
    row-gap: 32px;
    margin: 92px auto 0 auto;
}

.cover__background {
    max-width: 100%;
    grid-area: TrainWays;
    grid-column: 1/-1;
    grid-row: 1/3;
    z-index: 1;
}

.cover__image {
    width: 100%;
    height: 100%;
}

.cover__overlay {
    background-color: black;
    opacity: 40%;
    grid-column: 1/-1;
    grid-row: 1/3;
    z-index: 2;
}

.cover__title {
    display: flex;
    justify-content: center;
    align-items: end;
    font-family: "Inter-Bold", "Arial", sans-serif;
    font-size: 4.5em;
    line-height: 1;
    font-weight: 900;
    margin: 0;
    text-align: center;
    width: 100%;
    grid-column: 1;
    grid-row-start: 1;
    row-gap: 10px;
    margin: 0 auto 0 auto;
    z-index: 2;
}

.cover__subtitle {
    display: flex;
    align-items: start;
    justify-content: center;
    font-family: "Inter-Regular", "Arial", sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
    font-weight: normal;
    text-align: center;
    width: 38%;
    margin: 0;
    grid-column: 1;
    grid-row-start: 2;
    z-index: 2;
    margin: 0 auto 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .cover {
        row-gap: 20px;
    }
    .cover__title {
        max-width: 90%;
        font-size: 2em;
        
    }
    .cover__subtitle {
        font-size: 0.8em;
        width: 90%;
    }
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .cover {
        max-width: 100%;
    }
}

@media screen and (min-width: 768px){
    .cover__title {
        max-width: 560px;
    }
    .cover__subtitle {
        width: 360px;
    }
}



.footer {
    max-width: 94%;
    margin: 92px auto 24px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

nav {
    margin: 0;
    padding: 0;
    text-align: left;
}

.footer__links {
    display: flex;
    column-gap: 18px;
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
}

.footer__link {
    text-decoration: none;
    color: white;
    font-family: "Inter-Regular", "Arial", sans-serif;
    font-size: 1em;
    line-height: 1.1;
    font-weight: normal;
}

.footer__copyright {
    font-family: "Inter-Regular", "Arial", sans-serif;
    font-size: 0.9em;
    line-height: 1.1;
    font-weight: normal;
    text-align: center;
    margin:  auto 0 auto 0;
}


@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer {
        flex-direction: column;
        row-gap: 48px;
    }

    .footer__links {
        flex-direction: column;
        row-gap: 32px;
    }

    .footer__copyright {
        text-align: left;
        
    }
}







